<nav class="navbar navbar-toggleable-md bg-faded navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href='/'>Blog</a>
    <a class="navbar-brand" href="/portfolio"> Portfolio </a>
  </div>
</nav>