<body> 
<div class="row">
            <div class="col-sm-12"> 
                
                <h2> {{# each postit}} 
                        title
                    {{/each }} </h2> 
                
                <p> <%= posts.post %> </p>
            
            <div id="date"> <p> posted by Edison Mejia, on June 14th, 2017</p> </div>
            </div>    
        <hr>
</div>
</body>