<!DOCTYPE html>
<html lang="en">
  <head>
   <% include partials/head.ejs %>

  </head>
  <body>
    <div id="image">
      <% include partials/navbar.ejs %>

      <div class="container">
      <div class="row" >
        <div class="col-lg-12">
            <div id="content"> 
                <h1> BLOG/PORTFOLIO </h1>
                <h3> Personal blog</h3>
                <hr> 
            </div>  
        </div>  
        
        </div>
      
      
      </div>
    </div>

<!--part about me-->
<div id="me"> 
 <div class="container">
      
        <div class="row">
            
            <div class="col-lg-6">
                
                  <img src="images/me.JPG">
      
            </div>  
             <div class="col-sm-6" col-sm-offset-2>
                <h2 id="meh2"> Edison Mejia</h2>
              <p id="mep"> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. </p>
              
        <hr>
        <hr>
       
        </div>
        </div>
      <h2> </h2> 
                
        
        
        
      </div>
    </div> 
<!--      jumbotron code-->

     
    <div class="container">
                
         <div class="row">
            <div class="col-sm-12">
                <% for(i = 0; i < postit.length; i++)
                    { %>
                       <h2 id="meh"><%= postit[i].title %> </h2> 
                        <p><%= postit[i].post %> </p>
                        
                
                     
            <button type="button" class="active btn btn-primary btn-xs delete-blog" onclick="deletepost(<%= postit[i].id %>)">  Delete</button>
          
          
                <hr>
                   <% } %>
      
                
       
            
             </div>
        </div>
        
      </div>
     
      <div class="container"> 
      <form method="post" action="/add">
         <div class="form-group">
         
            <label> Title</label>
            <input name="title" type="text" class="form-control" id="formGroupExampleInput" />
  
            <label for="exampleTextarea">Post something</label>
            <textarea name="text" class="form-control" id="exampleTextarea" rows="4"> </textarea>
             
            <input type="submit" class="btn btn-primary" value="save" />
        </div>
      
      </form>
    
        
    </div>  
      
      
      
      
      

      
      
      
      
          



   
  
       <% include partials/scripts.ejs %>
  </body>
</html>