

 <% include partials/head.ejs %>

   <div id="image">
      <% include partials/navbar.ejs %>

      <div class="container">
      <div class="row" >
        <div class="col-lg-12">
            <div id="content"> 
                <h1> Blog/Portfolio </h1>
                <h3> Personal blog</h3>
                <hr> 
            </div>  
        </div>  
        
        </div>
      
      
      </div>
    </div>

    <div class="container">
        <h2> Jukebox</h2>
        <div class="row">
            
            <div class="col-sm-3">
                <a target="_blank" href="http://www.jukeboxburgers.com/img/jukebox.png">
                  <img src="http://www.jukeboxburgers.com/img/jukebox.png" alt="Forest">
</a>        
            </div>  
             <div class="col-sm-9" col-sm-offset-2>
              <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. </p>
              
       
        </div>
        <hr>
        <hr>
        </div>
      <h2> </h2> 
                
        
        
        
      </div>
   
  
       <% include partials/scripts.ejs %>