:root {
  --bg-color: #171c20;
  --text-color: #f3f3f3;
  --bg-color-lighter: #171d21;
}

* {
  box-sizing: border-box;
 }

 body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
 }

 main {
  width: 50%;
  margin: 0 auto;
 }

 /* header section start */
 header {
  border-bottom: 1px solid #474f57;
 }

 .navbar {
  font-size: 1.5rem;
  margin: 1.5rem 16rem 1.5rem 16rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
 }
 
 .navbar ul {
  margin: 0;
  padding: 0;
 }

 .navbar ul li {
   display: inline;
  list-style-type: none;
  margin: 0 .5rem 0 .5rem;
 }

 .navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
 }

 .navbar ul li a:hover {
  border-bottom: 1px solid var(--text-color);
 }

 .nav-icon{
  /* margin: 0 5px 0 5px; */
  /* height: 35px; */
  width: 35px;
  cursor: pointer;
}
 /* header section end */


/* Main content and intro sentence*/
 .main-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  margin: 4rem 0 10rem 0;
 }

.main-intro h1, .main-intro h3 {
  margin: .5rem 0 0 0;
  padding: .2rem 0 0 0;
}

.main-intro p {
  line-height: 1.5em;
  text-align: center;
}

/* skill section */
.profile-skill {
  margin-top: 2rem;
  /* display: flex; */
  /* flex-direction: column; */
  border-top: 1px solid #474f57;
  /* margin: 2rem 0 1rem 0; */
}

.profile-skill h4 {
  /* margin: .5rem 0 0 1.5rem; */
  margin: 0;
  padding: 1rem 0 1rem 0;
  text-transform: uppercase;
}

.profile-skill ul {
  /* list-style-type: none; */
	/* margin: 0 0 0 1.5rem; */
	padding: 0;
  margin: 0;
}

.profile-skill ul li {
  border: 1px solid rgb(211, 207, 207);
  margin: .2rem;
  padding: .2rem;
  text-decoration: none;
	border-radius: 2px;
	display: inline-block;
}

/* main article content */
 .project-section {
  display: flex;
  flex-direction: column;
 }

 .project-section h2 {
  font-weight: bold;
  font-size: 2em;
  align-self: center;
  /* display: block; */
 }

 .project-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow:hidden;
  background-color: var(--bg-color-lighter);
 }

 .project-item {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  border-bottom: 1.5rem solid var(--bg-color);
 }

 .project-img {
  height: 450px;
  width: 450px;
  padding: 1rem;
  border-radius: 1.5rem;
  object-fit: cover;
  transition: .5s ease-in-out;
 }

 .project-img:hover {
  cursor: pointer;
  transition:1s;
  transform:scale(1.03);
  /* transform: translateY(-15px); */
 }

 .project-description {
  padding: 4rem;
  font-size: 1.4rem;
  line-height: 1.4em;
 }

 /* carousel testing */
 .btn {
  position: absolute;
  max-width: 20%;
  min-width: 15%;
  top: 80%;
  left: 42%;
  padding: 15px 10px 15px 10px;
  color: rgb(213, 212, 223);
  background-color: transparent;
  border: 1px solid rgb(234, 230, 230);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  transition: .3s;
  cursor: pointer;
  border-radius: 1%;
  overflow: hidden;
}

.btn:active {
  transform: scale(1.1);
}

.btn:hover {
  color: rgb(16, 15, 15);
	background-color: white;
}

/* carousel progress bar */
.progress-bar {
  display: flex;
  gap: .25rem;
  position: absolute;
  top: 5%;
  left: 85%;
}

.progress-item {
  flex: 0 0 2rem;
  min-width: 4rem;
  height: .75rem;
  background-color: rgba(255,255,255, .5);
}

.progress-item.active {
  background-color: rgba(255,255,255, .75);
}

/* Image modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 20%;
  top: 18%;
  width: auto; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  display: block;
  width: 800px;
  height: 500px;
  border-radius: 10px;
}

.github-icon {
  position: absolute;
  top: 88%;
  left: 90%;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

#demo-link {
  text-decoration: none;
  position: absolute;
  top: 88.5%;
  left: 70%;
  padding: 5px;
  color: white;
  background-color: transparent;
  border: 1px solid rgb(234, 230, 230);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  transition: .3s;
  cursor: pointer;
  border-radius: 1%;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .github-icon, .close, #demo-link {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 0%;
  right: 2%;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


@keyframes changetop {
  from {
    transform: translateY(-20vh);
  }
  to {
    transform: translateY(0);
  }
 }

 @keyframes changeright {
  from {
    transform: translateX(20vw);
  }
  to {
    transform: translateX(0);
  }
 }

 @keyframes changeleft {
  from {
    transform: translateX(-20vw);
  }
  to {
    transform: translateX(0);
  }
 }