:root {
  --bg-color: #171c20;
  --text-color: #f3f3f3;
  --bg-color-lighter: #1a2024;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

/* header section start */
header {
  border-bottom: 1px solid #474f57;
  /* max-width: 100dvw; */
}

.navbar {
  font-size: 1.5rem;
  margin: 1.5rem 16rem 1.5rem 16rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  /* display: inline; */
  list-style-type: none;
  margin: 0 0.5rem 0 0.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar ul li a:hover {
  border-bottom: 1px solid var(--text-color);
}

.nav-icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .navbar {
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
}

/* header section end */

/* Main content and intro sentence*/
.main-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  width: 50vw;
  margin: 8rem auto 10rem auto;
}

.main-intro h1 {
  font-size: 4rem;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.2rem 0 0 0;
  text-align: center;
}

.main-intro p {
  width: 75%;
  line-height: 1.5em;
  text-align: center;
}

.email-btn {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgb(213, 212, 223);
  background-color: transparent;
  font-size: 1.2rem;
  margin: 0.4rem 0 0.4rem 0;
  padding: 0.8em;
  border: 1px solid rgb(234, 230, 230);
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.email-btn:active {
  transform: scale(1.1);
}

.email-btn:hover {
  color: rgb(16, 15, 15);
  background-color: white;
}

/* skill section */
.profile-skill {
  margin-top: 2rem;
  border-top: 1px solid #474f57;
}

.profile-skill h4 {
  margin: 0;
  padding: 1rem 0 1rem 0;
  text-transform: uppercase;
}

.profile-skill ul {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.profile-skill ul li {
  border: 1px solid rgb(211, 207, 207);
  margin: 0.2rem;
  padding: 0.2rem;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
}

@media (max-width: 640px) {
  .main-intro {
    width: 100vw;
    margin: 4rem auto 5rem auto;
  }

  .main-intro h1 {
    font-size: 3rem;
  }

  .main-intro p {
    font-size: 1.2rem;
    margin: 0;
  }
}

/* main article start */
.project-section {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-lighter);
}

.project-section h1 {
  font-weight: 500;
  font-size: 3rem;
  align-self: center;
  margin-bottom: 2em;
}

.project-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  width: 50vw;
  margin-inline: auto;
  gap: 2rem;
}

.gallery-item {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project-1 {
  justify-items: end;
}

.project-1 h2 {
  padding-bottom: 0.5rem;
  display: inline-block;
  border-bottom: 1px solid #573c7a;
}

.project-2 h2 {
  padding-bottom: 0.5rem;
  display: inline-block;
  border-bottom: 1px solid #1552a3;
}

.project-3 {
  justify-items: end;
}

.project-3 h2 {
  padding-bottom: 0.5rem;
  display: inline-block;
  border-bottom: 1px solid #434f5e;
}

.gallery-item > img {
  /* display: block; */
  height: 450px;
  max-width: 100%;
  padding: 1em;
  border-radius: 1.5rem;
  aspect-ratio: 1;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.gallery-item > img:hover {
  transition: 1s;
  transform: scale(1.03);
  /* transform: translateY(-15px); */
}

.project-description {
  /* font-size: 1.4rem; */
  font-size: clamp(1rem, 0.5rem + 1.5vw, 1.5rem);
  line-height: 1.4em;
  padding: 1em;
}

.project-description p {
  margin: 0;
}

.project-description h2 {
  margin: 0;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.project-link {
  margin-top: 2.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.github-icon {
  height: 35px;
  width: 35px;
  margin-inline: 1.5rem;
  cursor: pointer;
}

#demo-link {
  text-decoration: none;
  padding: 0.4rem;
  margin-inline: 1.5rem;
  color: white;
  background-color: transparent;
  border: 1px solid rgb(234, 230, 230);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width: 640px) {
  .project-gallery {
    width: 100vw;
  }

  .project-section h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .project-2 img {
    grid-row: 2;
  }
}

/* main article end */

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Iframe section start*/
.game-frame {
  width: 50vw;
  margin: 0 auto;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-frame h1 {
  font-size: 3rem;
}

@media (max-width: 640px) {
  .game-frame {
    display: none;
  }
}
/* Iframe section end */

@keyframes changetop {
  from {
    transform: translateY(-20vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes changeright {
  from {
    transform: translateX(20vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes changeleft {
  from {
    transform: translateX(-20vw);
  }
  to {
    transform: translateX(0);
  }
}
