#content {
    text-align: center;
    padding-top: 25%;
    color: white;
    background-position: center;
}

#image {
    background: url(https://cdn.pixabay.com/photo/2017/01/25/11/42/background-2007668_1280.jpg);
    background-size:cover;
    font-family: Lato;
    height: 500px;
    margin-bottom: auto;
   
   
}
.navbar-brand {
    color: white;
}

.jumbotron {
   background-color: darkgrey;
    clear: both;
    margin-top: 15%;
    resize: 20%;
}
#stuff {
    color: white;
}
hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
   
    border: solid 1px crimson;
}
.container h2 {
   
    font-size: 36px;
    font-weight: 300;
    display: block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color:darkslategrey;
    
}
.row p {
    
   display: block;
}

#date {
    font-size: 12px;
}

#boton {
    margin-left: auto;
    margin-right: auto;
}

img {
    border: 1px solid #337ab7; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 300px; /* Set a small width */
    margin-top: 20px;
    margin-left:100px;
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.col-sm-9 p {
    margin: clear;
    font-weight: 300;
    
    font-size: 17px;
    border-radius: 1em;
    
    
}
.col-sm-9 {
    background-color: azure;
    border: solid white;
    border-radius: 1em;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 20px;
   
}
.container h2 {
    text-align-last: center;
    
}
p {
    font-size: 16px;
}

#me {
    background-color: #122b40;
    padding-top: 60px;
    padding-bottom: 60px;
}
#mep {

    margin: clear;
    font-weight: 300;
    
    font-size: 17px;
    border-radius: 1em;
    color: white;
    
    

}
#meh {
     font-size: 36px;
    font-weight: 300;
    display: block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color:black;
    padding-top: 30px;
}

#meh2 {
   
    font-size: 36px;
    font-weight: 300;
    display: block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color:white;
    
}
h1 {
    font-size: 45px;
}
#porti {
    border: 1px solid #337ab7; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
    margin-top: 20px;
    margin-left:50px;
}
